.container{
    width: 40vmin;
    height: 600px;
    font-size: medium;
    margin: 2%;
    border: 4px solid #000000;
    display: inline-block;
}
.imageBox{
    width: 100%;
    height: 50%;
    display: inline-block;
    
}
.carImage{
    width: 100%;
    height: 100%;
    align-content: center;
}
.carInfo{
    text-align: left;
    height: 50%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: capitalize;
}
.price{
    float: right;
}