<div class="container">
    <div class="imageBox">
    <img class="carImage" src={{car.imagePath}}>
    </div>
    <div class="carInfo">
    {{car.year}}
    <div class="price">
     ${{price}}
    </div><br><br>
    {{car.make}}<br><br>
    {{car.model}}<br><br>
    <div class="vin" >
    {{car.vin}}
    </div><br>
    <div class="buttonSelection">
        <button (click)="viewCar()" >View</button>
        <button *ngIf="loggedIn" (click)="deleteCar()">Delete</button>
        <button *ngIf="loggedIn" (click)="editCar()" >Edit</button>
    </div>
    </div>
</div>

