.welcome{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 92px;
    background-image: url("/assets/Background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
select{
    text-transform: capitalize;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid black;
    margin-right: 5px;
}

button{
    margin-left: 5px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid black;
}