<div class="welcome">Welcome to Our Online Dealership!<br>
    <div>
        <select [(ngModel)]="make" (change)="getModels()">
            <option value=undefined>Select Make</option>
            <option *ngFor="let make of makes" make=make>{{make}}</option>
        </select>
        <select [(ngModel)]="model">
            <option selected value=undefined>Select Model</option>
            <option *ngFor="let model of models" model=model>{{model}}</option>
        </select>
        <button (click)="simpleSearch()">Quick Search</button>
    </div>
    <div>
        <app-car *ngFor="let car of cars" [car]=car></app-car>
    </div>
</div>
